<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082793523777-kckppu0mk5bq4j6ff3bo22p848p38964.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082793523777-kckppu0mk5bq4j6ff3bo22p848p38964</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1082793523777-lk117bbp368avv15k48a0su0mv9572aj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCr-F7ZgtgxRmrKZMEbomaq-uo8BH9PRVU</string>
	<key>GCM_SENDER_ID</key>
	<string>1082793523777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.machineSideApm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>usingfirebase-ccaa7</string>
	<key>STORAGE_BUCKET</key>
	<string>usingfirebase-ccaa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082793523777:ios:9de09161b48c91a4e124c0</string>
</dict>
</plist>